﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_LayoutEmpty.cshtml";
}
<form method="post" style="padding-top:5px">
    <div class="form-group">
        <div class="input-group shadow-sm">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            @Html.TextBoxFor(m => m.username, new { @class = "form-control", @placeholder = "Your Username*" })
        </div>
    </div>
    <div class="form-group">
        <div class="input-group shadow-sm">
            <div class="input-group-prepend">
                <span class="input-group-text"></span>
            </div>
            @Html.PasswordFor(m => m.password, new { @class = "form-control", @placeholder = "Your Password *" })
        </div>
    </div>
    <div class="form-group">
        <button asp-page-handler="LogInUser" class="btn btn-success"> Login</button>
    </div>
    @Html.ValidationSummary(true, "", new { @style = "color:rgb(255, 255, 255)" })
</form>

