﻿@page
@model stockproject.CreateProductModel
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <form method="post">

        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">Create Product </h5>
                            </div>
                            <br>



                            <div class="row">
                                <div class="col-md-12">
                                
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Product Name</label>
                                            <input type="text" class="form-control" name ="name"  placeholder="Test5">
                                        </div>
                                        <div class="form-group">
                                            <label for="formGroupExampleInput2">Price</label>
                                      

                                            <input type="number" class="form-control" name="price" placeholder="100">
                                        </div>
                                 
                                </div>
                            </div>

                            <div class="row justify-content-end">
                                <div class="row">

                                    <div class="col-5">
                                       
                                            <button class="btn btn-success" asp-page-handler="ToCreate">Confirm</button>
                                            @*<button class="btn btn-success">Confirm </button>
                                            <input type="hidden" name="id" value="@ViewData["id"]" />
                                            <input type="hidden" name="type" value="@ViewData["type"]" />*@
                                       
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        </form>
