﻿@page
@model stockproject.Pages.Stock.ProductModel
@{
    ViewData["Title"] = "Product";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row justify-content-md-center">
         
            <div class="col-md-auto">
                <h3> Product</h3>
            </div>

        </div>
    </div>
        <br />
    <div class="container">
  
        <div class="row">

            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-end">

                            <form asp-page-handler="/Stock/CreateProduct" method="get">
                                <button type="submit" class="btn btn-danger" asp-area="" asp-page="/Stock/CreateProduct">ADD </button>
                            </form>
                   
                        </div>
                        </div>
                    <div class="card-body">



                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style='text-align:center;'>No.</th>
                                        <th style='text-align:center;'>Product Name</th>
                                        <th style='text-align:center;'>QTY</th>
                                        <th style='text-align:center;'>Price</th>

                                    </tr>
                                </thead>

                                <tbody style="height: 250px; overflow-y: auto; overflow-x: hidden;">


                                    @for (int i = 0; i < Model.list.Count; i++)
                                    {

                                        <tr>
                                            <td style='text-align:center;'>@(i + 1)</td>
                                            <td style='text-align:center;'>@Model.list[i].Productname</td>
                                            <td style='text-align:center;'>@Model.list[i].Qty</td>

                                            <td style='text-align:center;'>@Model.list[i].Price</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>


                        </div>
                            @*<div class="row justify-content-end">
                <div class="row">

                    <div class="col-5">
                        <form asp-page-handler="CONFIRM" method="post">
                            <button class="btn btn-success">Confirm </button>
                            <input type="hidden" name="id" value="@ViewData["id"]" />
                            <input type="hidden" name="type" value="@ViewData["type"]" />
                        </form>
                    </div>
                    <div class="col-5">
                        <form asp-page-handler="REJECT" method="post">
                            <button class="btn btn-danger">Reject </button>
                            <input type="hidden" name="id" value="@ViewData["id"]" />
                            <input type="hidden" name="type" value="@ViewData["type"]" />
                        </form>
                    </div>
                </div>

            </div>*@
                        </div>
                    </div>
            </div>

        </div>

    </div>



