﻿@page
@model stockproject.Pages.Admin.AdminModel
@*@model IEnumerable<stockproject.Models.QueryAdmin>*@

@{
    ViewData["Title"] = "Admin";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*<h1 id ="sho" >Admin</h1>

    <a href="" data-ajax="true" data-ajax-url="?handler=partial" data-ajax-update="#panel">Click here</a>
    <div id="panel">
        <p>@ViewData["Message"] from the Hello World partial at @DateTime.Now</p>
    </div>
    <button  class="btn btn-primary"  data-url="@Url.Page("Admin", "ContactModalPartial")">
        Add contact
    </button>
    <button type="button"data-ajax-method="post" class="btn btn-primary" data-ajax="true" data-toggle="ajax-modal" data-url="@Url.Page("Admin", "VALUE")">
        Add contact2
    </button>*@




@*<div class="container">
    <div class="row">

        <div class="col-md-3 ml-auto">
            <form asp-page-handler="CONFIRM" method="post">
                <button class="btn btn-success">Create Confirm</button>
            </form>
        </div>
    </div>
</div>*@

<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>No.</th>
                <th>Subject</th>
                <th>Createdate</th>
                <th>Status</th>

            </tr>
        </thead>

        <tbody style="height: 250px; overflow-y: auto; overflow-x: hidden;">

            @*@foreach (var item in Model.list)
                {
                <tr>
                    <td>
                        <button asp-page-handler="VALUE" name="id" value="@item.Userid.ToString()">
                            @item.Userid.ToString()
                        </button>
                    </td>
                    @Html.HiddenFor(value => item.Userid)
                    <td>
                        @Html.DisplayFor(model => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Createdate)

                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Status)

                    </td>

                </tr>

                }*@
            @for (int i = 0; i < Model.list.Count; i++)
            {

                @*<form asp-page-handler="VALUE" method="post">
                        <button class="btn btn-default">View</button>
                        <input type="hidden" name="id" value="@Model.list[i].id" />
                    </form>*@
                <tr>
                    <td>
                        @if (Model.list[i].Subject == "FormIn")
                        {
                            <form asp-page-handler="VALUE" method="post">
                                <button asp-page-handler="VALUE" class="btn btn-success">@(i + 1)</button>
                                <input type="hidden" name="id" value="@Model.list[i].id" />
                                <input type="hidden" name="type" value="@Model.list[i].Subject" />
                            </form>

                        }
                        else
                        {

                            <form asp-page-handler="VALUE" method="post">
                                <button asp-page-handler="VALUE" class="btn btn-danger">@(i + 1)</button>
                                <input type="hidden" name="id" value="@Model.list[i].id" />
                                <input type="hidden" name="type" value="@Model.list[i].Subject" />
                            </form>

                        }

                    </td>
                    <td>@Model.list[i].Subject</td>
                    @*@Html.HiddenFor(value => value.list[i].Subject)*@
                    <td>@Model.list[i].Createdate</td>
                    <td>@Model.list[i].Status</td>

                </tr>
            }

        </tbody>
    </table>

</div>
@*</form>*@
<div id="divloading" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
        top: 0px; width: 100%; height: 100%; background-color:#ffffff; z-index: 300001;
        opacity: .8; filter: alpha(opacity=80);display:none">
    <div style="position: absolute; top: 40%; left: 40%; color: black;">

    </div>
</div>
@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm("Register", "Home"))
                    {
                        <div class="row">
                            id : @Html.TextBoxFor(x => x.Id)
                        </div>
                        <div class="row">
                            Name : @Html.TextBoxFor(x => x.Name)
                        </div>

                        <div class="row">
                            <input type="submit" value="send data" />
                        </div>

                    }*@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Title</h4>
                </div>
                <div class="modal-body">
                    @TempData["WarningMessage"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary">Confirm</button>
                </div>
            </div>
        </div>
    </div>*@


@*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>*@

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@*<script>
        function Success() {

            alert("For111111");

        }
        function Failure() {

            alert("Form Failed");
        }


    </script>*@