﻿@page
@model stockproject.confirmstatusModel
@{
    ViewData["Title"] = "confirmstatus";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
    @*<div class="container">
        <div class="row">
        
            <div class="col-md-3 ml-auto">
                <form asp-page-handler="CONFIRM" method="post">
                    <button class="btn btn-success">Create Confirm</button>
                </form>
            </div>
            </div>
        </div>*@
      
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title">@ViewData["type"] </h5>
                            </div>
                            <br><br>

                            <div class="row justify-content-between">
                                <div class="col-4">
                                    <p>Create By : @ViewData["name"]</p>
                                </div>
                                <div class="col-5">
                                    <p>CreateDate : @ViewData["date"]</p>
                                </div>
                            </div>

                            <div class="row">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Product Name</th>
                                            <th>QTY</th>
                                            <th>Price</th>

                                        </tr>
                                    </thead>

                                    <tbody style="height: 250px; overflow-y: auto; overflow-x: hidden;">


                                        @for (int i = 0; i < Model.list.Count; i++)
                                        {

                                            <tr>
                                                <td>@(i + 1)</td>
                                                <td>@Model.list[i].product</td>
                                                <td>@Model.list[i].qty</td>

                                                <td>@Model.list[i].price</td>

                                            </tr>
                                        }

                                    </tbody>
                                </table>

                            </div>

                            <div class="row justify-content-end">
                                <div class="row">

                                    <div class="col-5">
                                        <form asp-page-handler="CONFIRM" method="post">
                                            <button class="btn btn-success">Confirm </button>
                                            <input type="hidden" name="id" value="@ViewData["id"]" />
                                            <input type="hidden" name="type" value="@ViewData["type"]" />
                                        </form>
                                    </div>
                                    <div class="col-5">
                                        <form asp-page-handler="REJECT" method="post">
                                            <button class="btn btn-danger">Reject </button>
                                            <input type="hidden" name="id" value="@ViewData["id"]" />
                                            <input type="hidden" name="type" value="@ViewData["type"]" />
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

