﻿@page
@model stockproject.Pages.User.UsersModel
@{
    ViewData["Title"] = "main";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>main</h1>
<form method="post"> 
    @foreach (var item in Model.MyProperty)
    {
        <tr>
            <td>
                @item.A1
            </td>
            <td>
                @Html.TextBoxFor(m => m.MyProperty1 , new { @class = "btn btn-primary" ,@type="number"})
                <button asp-page-handler="AAA">lklklklk</button>
                @item.A2
            </td>
        </tr>
    }
</form>